<html>

<head>
  <style type="text/css">
    body {
      background: rgb(15, 14, 14);
      color: rgb(105, 107, 255);
    }

    div.container {
      max-width: 500px;
      margin: 100px auto;
      border: 20px solid white;
      padding: 10px;
      text-align: center;
    }

    h4 {
      text-transform: uppercase;
    }
  </style>
</head>

<body>
  <div class="container">
    <h4>Welcome to this application made with Python.</h4>
    <h4>It is running in a Docker container.</h4>
    <h4>Summary of Jenkins work:</h4>
    <br>
    <h4>-Downloads the repository</h4>
    <h4>-Creates the application image</h4>
    <h4>-Pushes the image to ECR</h4>
    <h4>-Runs the container</h4>
    <br>
    <h4>Student: <span style="color: darkorange;">Adan Alberto Garcia Leyva</span></h4>

  </div>
</body>

</html>